.jgj-container{
    min-height: 100vh;
    margin: 0px;
}
.jgj-col{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-perfil{
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: center;
}
.btn{
    border-radius: 0px;
    border: none;
    padding: 0.3rem 3rem;
}