
<div class="container-flex  ">
    <div class="row jgj-container">
      <div class="col p-5  jgj-col text-center">
        <img src="../../../assets/img/juan.jpg" alt="Imagen de Juan Rodriguez FullStack web developer" class="img-perfil" />
        <p class="h1 mt-2">&lt;Juan Rodriguez&gt;</p>
        <h1 class="h4 mb-5">FullStack Web Developer</h1>
        <a class="btn btn-dark mb-5" href="mailto:rodriguezjuanm@live.com">Email</a>
        <div class="row">
          <div class="col text-end">
              <a target="_blank" class="text-dark" href="https://github.com/juangiovannijohn">
                  <i class="bi bi-github fs-2"></i>
              </a>
             
          </div>
          <div class="col text-start">
              <a target="_blank" class="text-dark" href="https://www.linkedin.com/in/juangiovannijohn/"><i class="bi bi-linkedin fs-2"></i>
              </a>  
          </div>
        </div>
      </div>
      <div class="col p-5 jgj-col  bg-light text-center">
        <p class="h1 my-5">&lt;/Sobre Mí&gt;</p>
        <p class="mb-5">
          Desarrollador web FullStack con 6 meses de experiencia en el desarrollo
          de aplicaciones web utilizando tecnologías como NodeJS, Angular y
          Microsoft SQL Server. Diseño y contruyo soluciones escalables y
          sostenibles para diferentes tipos de proyectos. Me gusta trabajar en
          equipo y siempre estoy buscando maneras de mejorar mis habilidades y
          conocimientos en el campo de la tecnología.
        </p>
        <div class="row" style="width: 100%;">
          <div class="col ">
              <a class="btn btn-dark" href="../../../assets/files/CV-JuanRodriguez-Dev.pdf" download>Descargar CV</a>
           
          </div>
          <div class="col">
              <a class="btn btn-dark" routerLink="/portfolio">Portfolio</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  
